<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="hdd_guardian.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="translationtool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
          <!--<add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>-->
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <hdd_guardian.My.MySettings>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseOnTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataUpdate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ImminentFailure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemperatureThreshold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReallocatedSector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpinRetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReallocatedEvent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentPendingSector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfflineUncorrectable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoftReadErrorRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiskShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VitalParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalDevicesUpdate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="VirtualDevicesUpdate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Indilinx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Intel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Micron" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Samsung" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SandForce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportToXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XmlFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AreSettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTune" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TuneErrors" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Tune197" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Tune198" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempFahrenheit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorUsb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomTemperature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomTemperatureValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IgnoreCsmi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiDock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarningTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarningReallocatedEvent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningCurrentPendingSector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningOfflineUncorrectable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningSoftReadErrorRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningDiskShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningIndilinx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningIntel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningMicron" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningSamsung" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningSandForce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberWindowSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MailSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="MailTemperature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailFail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailReliability" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticTranslation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="ComputerType" serializeAs="String">
                <value />
            </setting>
            <setting name="WarningReallocatedSector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningSpinRetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tolerance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToleranceLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="PowerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerModeLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerUseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoPanel" serializeAs="String">
                <value>False</value>
            </setting>
        </hdd_guardian.My.MySettings>
        <translationtool.My.MySettings>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseOnTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataUpdate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ImminentFailure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemperatureThreshold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReallocatedSector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpinRetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Temperature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReallocatedEvent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentPendingSector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfflineUncorrectable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoftReadErrorRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiskShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VitalParameters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SharingFolder" serializeAs="String">
                <value/>
            </setting>
        </translationtool.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
